/*===--- Chose CSS ---===*/

.chosen-container .chosen-drop {
    
    position: relative;
}

.chosen-container-single .chosen-single {

    border-radius: 0px;
    background: #FFF;
    border-color: #DDDDDD;
    line-height: 28px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
}

.chosen-container-single .chosen-single div b {

    background-position: 0px 4px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {

    background-position: -18px 4px;
}

.chosen-container-multi .chosen-choices li {

    float: none;
}


/*===--- Upsell CSS ---===*/

#customize-controls .control-section-upsell .accordion-section-title:hover,
#customize-controls .control-section-upsell .accordion-section-title:focus {
    background-color: #fff;
}

.control-section-upsell .accordion-section-title .button {
    margin-top:  -4px;
    font-weight: 700;
    margin-left: 8px;
    border-color: #f44332;
    background-color: #f44332;
    color: #fff;
}

.control-section-upsell .accordion-section-title .button:hover {
    background-color: #f44332;
}


/* -------------------------------------------------------------------------- 
	Responsive Switcher
  -------------------------------------------------------------------------- */

.customize-control.has-switchers .customize-control-title {
    display: block;
    line-height: 1;
    margin-bottom: 10px;
}

.customize-control.has-switchers .customize-control-title span {
    line-height: 20px
}

.customize-control .responsive-switchers {
    width: auto;
    float: right;
}

.customize-control .responsive-switchers-open.responsive-switchers li {
    display: block
}

.customize-control .responsive-switchers li {
    float: left;
    margin: 0
}

.customize-control .responsive-switchers li button {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    color: #555;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    cursor: pointer;
    background-color: #ffffff;
}

.customize-control .responsive-switchers li button svg {
    fill: #888888;
    height: 16px;
    width: 16px;
}

.customize-control .responsive-switchers li button.active svg {
    fill: #2271b1;
}

.customize-control .responsive-switchers li button:hover {
    background-color: transparent;
}

.customize-control .responsive-switchers li:not(.desktop) button.active {
    color: #0085ba;
    background-color: transparent;
}

.customize-control .responsive-switchers.responsive-switchers-open li button.active {
    color: #0085ba;
}

.customize-control .responsive-switchers li button i {
    width: auto;
    height: auto;
    font-size: inherit;
    line-height: 18px
}

.customize-control.has-switchers>.responsive-control-wrap:not(.active) {
    display: none;
    width: 100%
}

body.rtl .customize-control-checkbox input[type=checkbox] {
    margin: 0 0 0 6px
}

body.rtl .customize-control-checkbox input[type=checkbox]:checked:before,
body.rtl .customize-control-ocean-multi-check input[type=checkbox]:checked:before {
    right: 0;
    left: auto
}

body.rtl .customize-control .responsive-switchers,
body.rtl .customize-control .responsive-switchers li button {
    margin-right: 5px;
    margin-left: 0
}

body.rtl .customize-control .responsive-switchers li {
    float: right
}

@media screen and (max-width:768px) {
    body .customize-control .responsive-switchers {
        display: none
    }

    body .customize-control.has-switchers>.responsive-control-wrap:not(.active) {
        display: inline-block
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    body .customize-control.has-switchers>.responsive-control-wrap {
        display: inline-block
    }

    body .customize-control.has-switchers>.responsive-control-wrap:not(.tablet) {
        display: none
    }
}

@media screen and (max-width:480px) {
    body .customize-control.has-switchers>.responsive-control-wrap {
        display: inline-block
    }

    body .customize-control.has-switchers>.responsive-control-wrap:not(.mobile) {
        display: none
    }
}


/*
Slim Select Override
*/
.ss-main {
    display: block;
    min-height: 37px;
}

.ss-content {
    position: relative;
    display: none;
}

.ss-content .ss-search.ss-hide input {
    display: none;
}


.customize-hidden {
    display: none;
}

.customize-display {
    display: block;
}


.box-border-expand-icon svg {
    width: 16px;
    height: 16px;
}

.royale-news-control-toggle-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.royale-news-control-toggle-button:hover {
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}

.royale-news-control-modal {
    display: none;
}

.royale-news-control-modal.modal-open {
    display: block;
    position: relative;
    margin-top: 5px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}


.flex {
    display: flex;
    justify-content: space-between;
}

.royale-news-customize-control-label.flex {
    align-items: center;
}

.royale-news-customize-control-section-inner.flex {
    display: flex;
    justify-content: space-between;
}

.royale-news-customizer-control-section-field-wrapper {
    margin-bottom: 10px;
}

.royale-news-customize-button-group {
    display: flex;
}

.royale-news-customize-button {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    transition-duration: 0.2s;
}

.royale-news-customize-button.secondary:hover {
    background-color: #ffffff;
    color: #000000;
}

.royale-news-customize-button.active,
.royale-news-customize-button:hover {
    background-color: #0085ba;
    color: #ffffff;
    border-color: #0085ba;
    fill: #ffffff;
}

.royale-news-customize-button.no-style {
    background: transparent;
    border: none;
    padding: 0px;
}

.royale-news-customize-button.no-style:hover {
    background: transparent;
    border: none;
    color: #0085ba;
}

.royale-news-customize-reset-button .dashicons {
    font-size: 14px;
    color: #888888;
}

.royale-news-customize-reset-button:hover .dashicons {
    color: #0085ba;
}

.royale-news-unit-wrapper {
    position: relative;
}

.unit-dropdown-toggle-button {
    width: 45px;
    height: 35px;
    border-radius: 3px;
    margin-left: 5px;
    text-transform: uppercase;
}

.royale-news-unit-dropdown {
    display: none;
}

.royale-news-unit-dropdown.dropdown-open {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-left: 5px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}

.royale-news-unit-dropdown .royale-news-customize-button {
    border: none;
    width: 100%;
    padding: 10px 5px;
    text-transform: uppercase;
}

.responsive-control-wrap {
    display: none;
}

.responsive-control-wrap.active,
.non-responsive-control-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.royale-news-slider-input .slider-input {
    width: 45px !important;
    margin: 0px !important;
}